header, nav, main, footer { 
display: block; 
}

header{
background-image: url("../images/tutorlogo.jpg");
text-shadow: 2px 2px 2px gray;
font-family: Arial, "Times New Roman", sans-serif;
font-size: 30px;
padding-top:20px;
padding-bottom:20px;
font-weight: bold;
margin-bottom:5px;
width: 1024px;
}

body{
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
  background-position: center; 
  background-attachment: fixed;
}


aside {
  height: 100%;
  width: 160px;
  top: 0;
  left: 0;
  background-color: cyan;
  text-align: center;
}

aside a {
  padding-top: 5px; 
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, "Times New Roman", sans-serif;
  color: black;
  display: block;
}

 


 a:active {
  color: green;
  text-decoration: underline;
}

a:hover, a:active {
  background-color: lightblue;
}

.active-link{
background-color: green;
}

.bold{
font-weight: bold;
}




.links{
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: underline;
  font-size: 20px;
  color: black;
  display: block;
  font-weight: bold;
  font-family: Arial, "Times New Roman", sans-serif;
  text-align: center;
}

main {
  background-color: white;
  font-family: Arial, "Times New Roman", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 859px;
}

main > p {
  font-size: 20px; 
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
 
}

main > h2{
 font-weight: bold;
 padding-left: 5px;
 padding-right: 5px;
}


footer{
background-color: lightblue;
font-family: Arial, "Times New Roman", sans-serif;
margin-top: 5px;
width: 1024px;
}

.flexVertical{
display:flex;
flex-direction:column;
}

.flexHorizontal{
display: flex;
flex-direction: row;
}

.flexHorizontal > div {

}




img{
margin-left: auto;
margin-right: auto;
display:block;
padding-top: 5px;
padding-bottom: 5px;
}


table {
border-style: solid;
border:2px;
border-collapse: collapse;
margin-left: 5px;
margin-right: 5px;
}

td, th{
padding: 10px;
border: 1px;
border-color: cyan;
border-style: solid;
}

#wrapper { 
           color: black;
           width: 100%;
           margin-right: auto;
	   margin-left: auto;
           min-width: 700px;
           max-width: 1024px;
}

#date{
padding-left: 5px;
padding-top: 10px;
}

#space{
margin-left:5px;
}

#animate{
animation-name:filter;
animation-duration:20s;
animation-iteration-count: infinite;
}

@keyframes filter {
  25% {filter:grayscale(25);}
  50% {filter:grayscale(50);}
  75% {filter:grayscale(75);}
  100% {filter:grayscale(100);}
}




* {box-sizing: border-box;}

.imgcontainer {
  position: relative;
  width: 50%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.profileimage {
  display: block;
  width: 100%;
  height: auto;
 
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.imgcontainer:hover .overlay {
  opacity: 1;
}

figure{
border: 2px solid cyan;
font-family: Arial, "Times New Roman", sans-serif;
padding:5px;
}

video{
padding-top: 5px;
padding-bottom: 5px;
margin-left: auto;
margin-right: auto;
display:block;
}


input,select {
margin-bottom: 10px;

}

form{
text-align:center;
padding-right: 205px;
padding-left: 205px;
padding-bottom: 80px;
padding-top: 80px;
}


@media (max-width: 720px){

body{
background-image: url("../images/background2.gif");
  background-repeat: repeat;
  background-position: center; 
  background-attachment: fixed;
}

}